@charset "UTF-8";

/*  CONFIRMAÇÃO DE SAIDA*/

#exit {
    position: relative;
    display: none;
    left: 550px;
    top: -200px;
    z-index: 4;
}
.exit p, div.exit > h1{
    position: relative;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  rgb(255, 255, 255);
    top: -20px;
    margin-left: 7px;
}

div.exit > h1 {
    background-color: rgb(15, 15, 15);
    padding-left: 20px;
    top: -75px;
    left: -18px;
    width: 371px;
    border-right: 1px solid rgba(255, 255, 255,.1);
}

.exit > p {
    font-size: 20px;
    top: -60px;
}
.exit {
    background-color: rgb(46, 46, 46);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    width: 370px;
    height: 110px;
    border-right: 1px solid rgba(255, 255, 255,.1);
}
.exit > button, .exit > a > button {
    position: relative;
    top: -80px;
    left: 250px;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.exit > button:hover, .exit > a > button:hover {
    background-color: rgb(15, 15, 15);
}
.sim {
    position: absolute;
    padding-right: 7px;
}